.container{

  .filter{

    display: flex;

    input, select{
      padding: 5px 10px;
      margin: 10px 10px 10px 0;
      border-radius: 7px;
      border: 1px solid grey;
      font-size: 15px;
      font-family: system-ui, sans-serif;
    }

  }

  table{
    border-collapse: collapse;
    width: 100%;
    position: relative;

    thead{
      position: sticky;
      top: 0;
      left: 0;
      background-color: white;
      th{
        padding: 10px 5px;
        text-align: start;
      }
    }

    tbody{
      tr:nth-child(odd){
        background-color: lightGrey;
        padding: 5px;
      }
      td{
        padding: 5px;
        width: 25%;
      }
    }
  }

}


